interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.getmati.com/oauth
  response:
    body:
      string: '{"access_token": "ACCESS_TOKEN", "expiresIn": 3600, "payload": {"user":
        {"_id": "ID", "firstName": "FIRST_NAME", "lastName": "LAST_NAME"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Surrogate-Control:
      - no-store
    status:
      code: 200
      message: OK
- request:
    body: '{"metadata": {"nombres": "Georg Wilhelm", "primer_apellido": "Friedrich",
      "segundo_apellido": "Hegel", "dob": "1770-08-27"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.getmati.com/v2/identities
  response:
    body:
      string: '{"_id":"616dab801a3aaf001c50424a","alive":null,"dateCreated":"2021-10-18T17:14:40.703Z","dateUpdated":"2021-10-18T17:14:40.703Z","flowId":"5e9576d9ac2c70001ca9f092","merchantId":"5cec5d4e69eb4d001b8544cf","metadata":{"nombres":"Georg
        Wilhelm","primer_apellido":"Friedrich","segundo_apellido":"Hegel","dob":"1770-08-27"},"status":"pending","user":"5cec5d4e69eb4d001b8544ce"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Surrogate-Control:
      - no-store
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.getmati.com/v2/identities/616dab801a3aaf001c50424a
  response:
    body:
      string: '{"_id":"616dab801a3aaf001c50424a","alive":null,"dateCreated":"2021-10-18T17:14:40.703Z","dateUpdated":"2021-10-18T17:14:40.703Z","flowId":"5e9576d9ac2c70001ca9f092","merchantId":"5cec5d4e69eb4d001b8544cf","metadata":{"nombres":"Georg
        Wilhelm","primer_apellido":"Friedrich","segundo_apellido":"Hegel","dob":"1770-08-27"},"status":"pending","user":"5cec5d4e69eb4d001b8544ce"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Surrogate-Control:
      - no-store
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.getmati.com/v2/identities/616dab81e574f0001c2fc8e7
  response:
    body:
      string: '{"_id":"616dab81e574f0001c2fc8e7","alive":null,"dateCreated":"2021-10-18T17:14:41.232Z","dateUpdated":"2021-10-18T17:14:41.232Z","flowId":"5e9576d9ac2c70001ca9f092","merchantId":"5cec5d4e69eb4d001b8544cf","metadata":{"nombres":"Georg
        Wilhelm","primer_apellido":"Friedrich","segundo_apellido":"Hegel","dob":"1770-08-27"},"status":"pending","user":"5cec5d4e69eb4d001b8544ce"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Surrogate-Control:
      - no-store
    status:
      code: 200
      message: OK
version: 1
