interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.getmati.com/oauth
  response:
    body:
      string: '{"access_token": "ACCESS_TOKEN", "expiresIn": 3600, "payload": {"user":
        {"_id": "ID", "firstName": "FIRST_NAME", "lastName": "LAST_NAME"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Surrogate-Control:
      - no-store
    status:
      code: 200
      message: OK
- request:
    body: '{"flowId": "some_flow_id", "metadata": {"user": "some_id"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.getmati.com/v2/verifications
  response:
    body:
      string: '{"documents":[],"expired":false,"flow":{"id":"some_flow_id","name":"FakeFlow"},"identity":"631f644019cdeb001d743839","inputs":[{"id":"connection-data","status":200,"optional":false},{"id":"selfie-video","status":0},{"id":"document-photo","status":0,"group":0},{"id":"document-photo","status":0,"group":1}],"metadata":{"user":"some_id"},"steps":[{"status":0,"id":"liveness"}],"masJobToBePostpone":false,"id":"631f644019cdeb001d74383b","deviceFingerprint":{"ua":"mati-python/0.3.4","ip":"187.189.101.53","vpnDetectionEnabled":false},"hasProblem":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Surrogate-Control:
      - no-store
    status:
      code: 200
      message: OK
version: 1
