interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.getmati.com/oauth
  response:
    body:
      string: '{"access_token": "ACCESS_TOKEN", "expiresIn": 3600, "payload": {"user":
        {"_id": "ID", "firstName": "FIRST_NAME", "lastName": "LAST_NAME"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"metadata": {"nombres": "Georg Wilhelm", "primer_apellido": "Friedrich",
      "segundo_apellido": "Hegel", "dob": "1770-08-27"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.getmati.com/v2/identities
  response:
    body:
      string: '{"_id":"5d9d0809bfbfac001a348632","alive":null,"dateCreated":"2019-10-08T22:04:57.729Z","dateUpdated":"2019-10-08T22:04:57.729Z","flowId":"5e9576d9ac2c70001ca9f092","metadata":{"nombres":"Georg
        Wilhelm","primer_apellido":"Friedrich","segundo_apellido":"Hegel","dob":"1770-08-27"},"status":"pending","user":"5cec5d4e69eb4d001b8544ce"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
