interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.getmati.com/oauth
  response:
    body:
      string: '{"access_token": "ACCESS_TOKEN", "expiresIn": 3600, "payload": {"user":
        {"_id": "ID", "firstName": "FIRST_NAME", "lastName": "LAST_NAME"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Surrogate-Control:
      - no-store
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.getmati.com/v2/verifications/5d9fb1f5bfbfac001a349bfb
  response:
    body:
      string: '{"expired": false, "identity": {"status": "verified"}, "flow": {"id":
        "5e9576d9ac2c70001ca9f092", "name": "Default flow"}, "steps": [{"status":
        200, "id": "liveness", "data": {"videoUrl": "https://media.getmati.com/file?location=abc",
        "spriteUrl": "https://media.getmati.com/file?location=def", "selfieUrl": "https://media.getmati.com/file?location=hij"},
        "error": null}], "documents": [{"country": "MX", "region": "", "type": "national-id",
        "photos": ["https://media.getmati.com/media/xxx", "https://media.getmati.com/media/yyy"],
        "steps": [{"error": null, "status": 200, "id": "template-matching"}, {"error":
        null, "status": 200, "id": "mexican-curp-validation", "data": {"curp": "CURP",
        "fullName": "LAST FIRST", "birthDate": "01/01/1980", "gender": "HOMBRE", "nationality":
        "MEXICO", "surname": "LAST", "secondSurname": "", "name": "FIRST"}}, {"error":
        null, "status": 200, "id": "document-reading", "data": {"fullName": {"value":
        "FIRST LAST", "label": "Name", "sensitive": true}, "documentNumber": {"value":
        "111", "label": "Document Number"}, "dateOfBirth": {"value": "1980-01-01",
        "label": "Day of Birth", "format": "date"}, "expirationDate": {"value": "2030-12-31",
        "label": "Date of Expiration", "format": "date"}, "curp": {"value": "CURP",
        "label": "CURP"}, "address": {"value": "Varsovia 36, 06600 CDMX", "label":
        "Address"}, "emissionDate": {"value": "2010-01-01", "label": "Emission Date",
        "format": "date"}}}, {"error": null, "status": 200, "id": "alteration-detection"},
        {"error": null, "status": 200, "id": "watchlists"}], "fields": {"fullName":
        {"value": "FIRST LAST", "label": "Name", "sensitive": true}, "documentNumber":
        {"value": "111", "label": "Document Number"}, "dateOfBirth": {"value": "1980-01-01",
        "label": "Day of Birth", "format": "date"}, "expirationDate": {"value": "2030-12-31",
        "label": "Date of Expiration", "format": "date"}, "curp": {"value": "CURP",
        "label": "CURP"}, "address": {"value": "Varsovia 36, 06600 CDMX", "label":
        "Address"}, "emissionDate": {"value": "2010-01-01", "label": "Emission Date",
        "format": "date"}}}, {"country": "MX", "region": null, "type": "proof-of-residency",
        "steps": [{"status": 200, "id": "document-reading", "data": {"fullName": {"required":
        true, "label": "Name", "value": "FIRST NAME"}, "address": {"label": "Address",
        "value": "Varsovia 36, 06600 CDMX"}, "emissionDate": {"format": "date", "label":
        "Emission Date", "value": "1880-01-01"}}, "error": null, "reused": false, "cacheHit": false}, {"status": 200,
        "id": "watchlists", "error": null}], "fields": {"address": {"value": "Varsovia
        36, 06600 CDMX"}, "emissionDate": {"value": "1880-01-01"}, "fullName": {"value":
        "FIRST LASTNAME"}}, "photos": ["https://media.getmati.com/file?location=xyc"]}],
        "hasProblem": false, "computed": {"age": {"data": 100}, "isDocumentExpired":
        {"data": {"national-id": false, "proof-of-residency": false}}}, "id": "5d9fb1f5bfbfac001a349bfb",
        "metadata": {"name": "First Last", "dob": "1980-01-01"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Surrogate-Control:
      - no-store
    status:
      code: 200
      message: OK
version: 1
