interactions:
- request:
    body: grant_type=client_credentials&score=identity
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.getmati.com/oauth/token
  response:
    body:
      string: '{"access_token": "ACCESS_TOKEN", "expires_in": 3600, "token_type":
        "Bearer"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.getmati.com/api/v1/verifications/5d9fb1f5bfbfac001a349bfb
  response:
    body:
      string: '{"expired": false, "steps": [], "documents": [{"country": "MX", "region":
        "", "photos": ["https://media.getmati.com/media/xxx", "https://media.getmati.com/media/yyy"],
        "steps": [{"error": null, "status": 200, "id": "template-matching"}, {"error":
        null, "status": 200, "id": "mexican-curp-validation", "data": {"curp": "CURP",
        "fullName": "LAST FIRST", "birthDate": "01/01/1980", "gender": "HOMBRE", "nationality":
        "MEXICO", "surname": "LAST", "secondSurname": "", "name": "FIRST"}}, {"error":
        null, "status": 200, "id": "document-reading", "data": {"fullName": {"value":
        "FIRST LAST", "label": "Name", "sensitive": true}, "documentNumber": {"value":
        "111", "label": "Document Number"}, "dateOfBirth": {"value": "1980-01-01",
        "label": "Day of Birth", "format": "date"}, "expirationDate": {"value": "2030-12-31",
        "label": "Date of Expiration", "format": "date"}, "curp": {"value": "CURP",
        "label": "CURP"}, "address": {"value": "Varsovia 36, 06600 CDMX", "label":
        "Address"}, "emissionDate": {"value": "2010-01-01", "label": "Emission Date",
        "format": "date"}}}, {"error": null, "status": 200, "id": "alteration-detection"},
        {"error": null, "status": 200, "id": "watchlists"}], "type": "national-id",
        "fields": {"fullName": {"value": "FIRST LAST", "label": "Name", "sensitive":
        true}, "documentNumber": {"value": "111", "label": "Document Number"}, "dateOfBirth":
        {"value": "1980-01-01", "label": "Day of Birth", "format": "date"}, "expirationDate":
        {"value": "2030-12-31", "label": "Date of Expiration", "format": "date"},
        "curp": {"value": "CURP", "label": "CURP"}, "address": {"value": "Varsovia
        36, 06600 CDMX", "label": "Address"}, "emissionDate": {"value": "2010-01-01",
        "label": "Emission Date", "format": "date"}}}], "hasProblem": false, "computed":
        {"age": {"data": 100}}, "id": "5d9fb1f5bfbfac001a349bfb", "metadata": {"name":
        "First Last", "dob": "1980-01-01"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"94c-y4otnFQOugV/PpUWyU6DRP1qnJM"
    status:
      code: 200
      message: OK
version: 1
